python-dotenv
langgraph
langchain
langchain-core
langchain-openai
openai
pydantic
langchain-ollama
streamlit
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
mcp
requests
httpx
datasets
pandas
kagglehub